*.log
wp-config.php
wp-content/cache/
wp-content/plugins/
wp-content/upgrade/
wp-content/languages/
wp-content/themes/colormag/node_modules/
wp-content/themes/colormag/.npm-debug-log
wp-content/themes/colormag/tmp/
wp-content/themes/colormag/.sass-cache/
wp-content/themes/colormag/*.css.map
wp-content/themes/twentyfourteen/
wp-content/themes/twentyfifteen/
wp-content/themes/twentysixteen/
wp-content/cache/
wp-content/uploads/
wp-content/gallery/
wp-content/gallery-bank/
wp-content/ngg/
wp-content/ngg_styles/
wp-admin/
wp-includes/


/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz